@page "/logros/salvia/guardabosques"

<link href="/css/plantasusuario.css" rel="stylesheet" />
<link href="/css/logro.css" rel="stylesheet" />

<div class="page-background-class">
    <div class="usuariocard">
        <h4> Guardabosques </h4>
        <img src="/images/logros/guardabosques.png" class="imagen" />
        <p class="info">XP: <u>400</u></p>
        <p class="info">Has la primera revision de tus plantas, como: nivel de agua, estado de las hojas, aparicion de plagas. Recuerda que se tienen que revisar 2 veces al dia.</p>

        <form class="boton" action="/logros/salvia">
            <input style="width: 20vw;" type="submit" value="Completar" />
        </form>

        <form class="boton" action="/logros/salvia">
            <input style="width: 20vw;" type="submit" value="Volver" />
        </form>

    </div>
</div>


@code {

}
