@page "/logros/salvia/agricultor"

<link href="/css/plantasusuario.css" rel="stylesheet" />
<link href="/css/logro.css" rel="stylesheet" />

<div class="page-background-class">
    <div class="usuariocard">
        <h4> Agricultor </h4>
        <img src="/images/logros/agricultor.png" class="imagen" />
        <p class="info">XP: <u>2000</u></p>
        <p class="info">Te has ahorrado una compra en el supermercado con una cosecha</p>

        <form class="boton" action="/logros/salvia">
            <input style="width: 20vw;" type="submit" value="Completar" />
        </form>

        <form class="boton" action="/logros/salvia">
            <input style="width: 20vw;" type="submit" value="Volver" />
        </form>

    </div>
</div>


@code {

}
