@page "/"

<link href="/css/plantas.css" rel="stylesheet"/>

<div class="page-background-class">
    
    <h2>Bienvenido a Tu Jardín App</h2>

    <AuthorizeView>
        <h2>Bienvenido, @context.User.Identity.Name</h2>
    </AuthorizeView>
</div>



