@page "/plantas/seleccionartipo/cannabis"

<link href="/css/plantas.css" rel="stylesheet" />
<link href="/css/tipoplanta.css" rel="stylesheet" />

<div class="page-background-class">

    <div class="divtitulo">
        <img class="imagentipo" src="/images/Cannabis.png" />
        <h3>Cannabis</h3>
    </div>


    <table>
        <tr>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/cannabis/indica.png" /></a>
                <p class="texto">Cannabis Índica</p>
            </th>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/cannabis/rudelaris.png" /></a>
                <p class="texto">Cannabis Rudelaris</p>
            </th>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/cannabis/sativa.png" /></a>
                <p class="texto">Cannabis Sativa</p>
            </th>
            <th class="caja">
                <a style="text-decoration: none;" href="/plantas/agregarnueva">
                    <p class="imagen agregar"> + </p>
                </a> <p class="texto">Agregar</p>
            </th>
        </tr>
    </table>
</div>


@code {

}
