@page "/plantas/seleccionartipo/condimentos"

<link href="/css/plantas.css" rel="stylesheet" />
<link href="/css/tipoplanta.css" rel="stylesheet" />

<div class="page-background-class">

    <div class="divtitulo">
        <img class="imagentipo" src="/images/Condimentos.png" />
        <h3>Condimentos</h3>
    </div>
    

    <table>
        <tr>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/condimentos/cilantro.png" /></a>
                <p class="texto">Cilantro</p>
            </th>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/condimentos/oregano.png" /></a>
                <p class="texto">Orégano</p>
            </th>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/condimentos/perejil.png" /></a>
                <p class="texto">Perejil</p>
            </th>
            <th class="caja">
                <a style="text-decoration: none;" href="/plantas/agregarnueva">
                    <p class="imagen agregar"> + </p>
                </a> <p class="texto">Agregar</p>
            </th>
        </tr>
    </table>
</div>


@code {

}
