  @page "/logros"

    <link href="/css/plantas.css" rel="stylesheet" />

    <div class="page-background-class">

        <h3>Logros</h3>

        <table>
            <tr>
                <th class="caja">
                    <a href="/logros/cannabis"><img class="imagen" src="/images/cannabis/indica.png" /></a>
                    <p class="texto">Cannabis indica</p>
                </th>
                <th class="caja">
                    <a href="/logros/salvia"><img class="imagen" src="/images/aromaticas/salvia.png" /></a>
                    <p class="texto">Salvia</p>
                </th>
            </tr>
        </table>

    </div>

    

    @code {

    }
