@page "/logros/cannabis"

<link href="/css/plantas.css" rel="stylesheet" />

<div class="page-background-class">
    <h3>Logros Cannabis</h3>
    <table>
        <tr>
            <th class="caja">
                <a href="/logros/cannabis/semillero"><img class="imagen" src="/images/logros/semillero.png" /></a>
                <p class="texto">Semillero</p>
            </th>
            <th class="caja">
                <a href="/logros/cannabis/jardin"><img class="imagen" src="/images/logros/jardin.png" /></a>
                <p class="texto">Jardin</p>
            </th>
            <th class="caja">
                <a href="/logros/cannabis/vida"><img class="imagen" src="/images/logros/vida.png" /></a>
                <p class="texto">Vida</p>
            </th>
            <th class="caja">
                <a href="/logros/cannabis/guardabosques"><img class="imagen" src="/images/logros/guardabosques.png" /></a>
                <p class="texto">Guardabosques</p>
            </th>
            <th class="caja">
                <a href="/logros/cannabis/hermitano"><img class="imagen" src="/images/logros/hermitano.png" /></a>
                <p class="texto">Hermitaño</p>
            </th>
        </tr>
        <tr>
            <th class="caja">
                <a href="/logros/cannabis/riego"><img class="imagen" src="/images/logros/riego.png" /></a>
                <p class="texto">Riego</p>
            </th>
            <th class="caja">
                <a href="/logros/cannabis/lluvia"><img class="imagen" src="/images/logros/lluvia.png" /></a>
                <p class="texto">Lluvia</p>
            </th>
            <th class="caja">
                <a href="/logros/cannabis/jardinero"><img class="imagen" src="/images/logros/jardinero.png" /></a>
                <p class="texto">Jardinero</p>
            </th>
            <th class="caja">
                <a href="/logros/cannabis/cosecha"><img class="imagen" src="/images/logros/cosecha.png" /></a>
                <p class="texto">Cosecha</p>
            </th>
            <th class="caja">
                <a href="/logros/cannabis/agricultor"><img class="imagen" src="/images/logros/agricultor.png" /></a>
                <p class="texto">Agricultor</p>
            </th>
        </tr>
    </table>

</div>

@code {

}
