@page "/logros/cannabis/jardin"

<link href="/css/plantasusuario.css" rel="stylesheet" />
<link href="/css/logro.css" rel="stylesheet" />

<div class="page-background-class">
    <div class="usuariocard">
        <h4> Jardin </h4>
        <img src="/images/logros/jardin.png" class="imagen" />
        <p class="info">XP: <u>100</u></p>
        <p class="info">Tu planta tiene el primer brote</p>

        <form class="boton" action="/logros/cannabis">
            <input style="width: 20vw;" type="submit" value="Completar" />
        </form>

        <form class="boton" action="/logros/cannabis">
            <input style="width: 20vw;" type="submit" value="Volver" />
        </form>

    </div>
</div>


@code {

}
