@page "/logros/cannabis/hermitano"

<link href="/css/plantasusuario.css" rel="stylesheet" />
<link href="/css/logro.css" rel="stylesheet" />

<div class="page-background-class">
    <div class="usuariocard">
        <h4> Hermitaño </h4>
        <img src="/images/logros/hermitano.png" class="imagen" />
        <p class="info">XP: <u>900</u></p>
        <p class="info">Revisa tus plantas por un mes completo</p>

        <form class="boton" action="/logros/cannabis">
            <input style="width: 20vw;" type="submit" value="Completar" />
        </form>

        <form class="boton" action="/logros/cannabis">
            <input style="width: 20vw;" type="submit" value="Volver" />
        </form>

    </div>
</div>


@code {

}
