@page "/logros/cannabis/riego"

<link href="/css/plantasusuario.css" rel="stylesheet" />
<link href="/css/logro.css" rel="stylesheet" />

<div class="page-background-class">
    <div class="usuariocard">
        <h4> Riego </h4>
        <img src="/images/logros/riego.png" class="imagen" />
        <p class="info">XP: <u>200</u></p>
        <p class="info">Riega tu planta por una semana</p>

        <form class="boton" action="/logros/cannabis">
            <input style="width: 20vw;" type="submit" value="Completar" />
        </form>

        <form class="boton" action="/logros/cannabis">
            <input style="width: 20vw;" type="submit" value="Volver" />
        </form>

    </div>
</div>


@code {

}
