@page "/logros/salvia/jardinero"

<link href="/css/plantasusuario.css" rel="stylesheet" />
<link href="/css/logro.css" rel="stylesheet" />

<div class="page-background-class">
    <div class="usuariocard">
        <h4> Jardinerp </h4>
        <img src="/images/logros/jardinero.png" class="imagen" />
        <p class="info">XP: <u>1000</u></p>
        <p class="info">Tu planta ha estado sana por un mes</p>

        <form class="boton" action="/logros/salvia">
            <input style="width: 20vw;" type="submit" value="Completar" />
        </form>

        <form class="boton" action="/logros/salvia">
            <input style="width: 20vw;" type="submit" value="Volver" />
        </form>

    </div>
</div>


@code {

}
