.usuariocard {
    background: #f4f4f4ee;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    margin-top: 20vh;
    padding: 1vw;
}

h4 {
    color: #35B736;
    font-size: 2vw;
    font-style: italic;
    text-align: center;
    padding-top: 2vh;
    font-weight: bold;
}

.info {
    text-align: center;
    min-width: 80%;
    font-weight: bold;
}

.boton {
    text-align: center;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

tr {
    margin: 2vh;
    text-align: right;
    font-size: 1vw;
}

th {
    height: fit-content;
}