.tipoimagen {
    border: none;
    width: 15vh;
    height: 15vh;
}
table {
    border: none;
    margin-left: auto;
    margin-right: auto;
}
th {
    height: 27vh;
    width: 24vh;
    margin: 2vh;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
}
h3 {
    font-size: 3.5vw;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 25vh;
}