@page "/plantas/agregarnueva"

<link href="/css/plantas.css" rel="stylesheet" />
<link href="/css/plantasusuario.css" rel="stylesheet" />

<div class="page-background-class">
    <div class="usuariocard">
        <h4> Añadir </h4>

        <form action="/plantas">
            <table>
                <tr>
                    <td><p class="info" style="text-align: right; margin-right: 1vw;">Nombre de la Planta: </p></td>
                    <td><input type="text" placeholder="Nombre" style="width: 100%;"></td>
                </tr>
                <tr>
                    <td><input class="boton" style="width: 10vw;" type="submit" value="Crear" /></td>

                    <td> <a href="/plantas"><input class="boton" style="width: 10vw;" type="button" value="Salir" /> </a> </td>

                </tr>
            </table>
        </form>
    </div>
</div>

@code {

}
