@page "/plantas/usuario"

<link href="/css/plantasusuario.css" rel="stylesheet" />
<link href="/css/plantas.css" rel="stylesheet" />

<div class="page-background-class">
    <div class="usuariocard">
        <h4> Salvia </h4>

        <p class="info">Responsable: <u>David Herrera</u></p>
        <p class="info">Fecha de siembra: <u>05/08/2021</u></p>
        <p class="info">Tipo de planta: <u>Aromática</u></p>

        <form class="boton" action="/logros/salvia">
            <input style="width: 20vw;" type="submit" value="Logros" />
        </form>

        <form class="boton" action="/plantas">
            <input style="width: 20vw;" type="submit" value="Volver" />
        </form>
    </div>
</div>


@code {


}
