@page "/plantas/seleccionartipo"

<link href="/css/plantas.css" rel="stylesheet" />
<link href="/css/selecciontipo.css" rel="stylesheet" />

<div class="page-background-class">
    <h3>¿Qué tipo de planta vas a agregar?</h3>

    <table>
        <tr>
            <th> 
                <a href="/plantas/seleccionartipo/condimentos"><img class="imagen tipoimagen" src="/images/Condimentos.png" /></a>
                <p class="texto">Condimentos</p>
            </th>
            <th> 
                <a href="/plantas/seleccionartipo/aromaticas"><img class="imagen tipoimagen" src="/images/Aromáticas.png" /></a> 
                <p class="texto">Aromáticas</p>
            </th>
            <th>
                <a href="/plantas/seleccionartipo/medicinales"><img class="imagen tipoimagen" src="/images/Medicinales.png" /></a> 
                <p class="texto">Medicinales</p>
            </th>
            <th>
                <a href="/plantas/seleccionartipo/especiales"><img class="imagen tipoimagen" src="/images/Especiales.png" /></a> 
                <p class="texto">Especiales</p>
            </th>
            <th>
                <a href="/plantas/seleccionartipo/cannabis"><img class="imagen tipoimagen" src="/images/Cannabis.png" /></a>
                <p class="texto">Cannabis</p>
            </th>
        </tr>
    </table>
</div>


@code {

}
