@page "/plantas/seleccionartipo/especiales"

<link href="/css/plantas.css" rel="stylesheet" />
<link href="/css/tipoplanta.css" rel="stylesheet" />

<div class="page-background-class">

    <div class="divtitulo">
        <img class="imagentipo" src="/images/Especiales.png" />
        <h3>Especiales</h3>
    </div>


    <table>
        <tr>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/especiales/aji.png" /></a>
                <p class="texto">Ají</p>
            </th>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/especiales/rabanito.png" /></a>
                <p class="texto">Rabanito</p>
            </th>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/especiales/tomatecherry.png" /></a>
                <p class="texto">Tomate Cherry</p>
            </th>
            <th class="caja">
                <a style="text-decoration: none;" href="/plantas/agregarnueva">
                    <p class="imagen agregar"> + </p>
                </a> <p class="texto">Agregar</p>
            </th>
        </tr>
    </table>
</div>


@code {

}
