@page "/plantas/seleccionartipo/medicinales"

<link href="/css/plantas.css" rel="stylesheet" />
<link href="/css/tipoplanta.css" rel="stylesheet" />

<div class="page-background-class">

    <div class="divtitulo">
        <img class="imagentipo" src="/images/Medicinales.png" />
        <h3>Medicinales</h3>
    </div>


    <table>
        <tr>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/medicinales/manzanilla.png" /></a>
                <p class="texto">Manzanilla</p>
            </th>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/medicinales/melissa.jpg" /></a>
                <p class="texto">Melissa</p>
            </th>
            <th class="caja">
                <a href="/plantas/seleccionartipo/datos"><img class="imagen" src="/images/medicinales/tomillo.jpg" /></a>
                <p class="texto">Tomillo</p>
            </th>
            <th class="caja">
                <a style="text-decoration: none;" href="/plantas/agregarnueva">
                    <p class="imagen agregar"> + </p>
                </a> <p class="texto">Agregar</p>
            </th>
        </tr>
    </table>
</div>


@code {

}
