@page "/consejos"

<link href="/css/plantas.css" rel="stylesheet" />
<link href="/css/selecciontipo.css" rel="stylesheet" />

<div class="page-background-class">

    <h3 style="font-size: 5vw; font-weight: 800; margin-left: auto; margin-right: auto; text-align: center; padding-top: 3vh; padding-bottom: 25vh;">Consejos</h3>

    <table>
        <tr>
            <th>
                <a href="/consejos/condimentos"><img class="imagen tipoimagen" src="/images/Condimentos.png" /></a>
                <p class="texto">Condimentos</p>
            </th>
            <th>
                <a href="/consejos/aromaticas"><img class="imagen tipoimagen" src="/images/Aromáticas.png" /></a>
                <p class="texto">Aromáticas</p>
            </th>
            <th>
                <a href="/consejos/medicinales"><img class="imagen tipoimagen" src="/images/Medicinales.png" /></a>
                <p class="texto">Medicinales</p>
            </th>
            <th>
                <a href="/consejos/especiales"><img class="imagen tipoimagen" src="/images/Especiales.png" /></a>
                <p class="texto">Especiales</p>
            </th>
            <th>
                <a href="/consejos/cannabis"><img class="imagen tipoimagen" src="/images/Cannabis.png" /></a>
                <p class="texto">Cannabis</p>
            </th>
        </tr>
    </table>

</div>

@code {

}
