<link href="/css/plantas.css" rel="stylesheet" />
<link href="/css/tipoplanta.css" rel="stylesheet" />
<link href="/css/plantasusuario.css" rel="stylesheet" />

@if (Type == "Eneldo")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/aromaticas/eneldo.png" />
        <h3>Eneldo</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Romero")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/aromaticas/romero.png" />
        <h3>Romero</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Salvia")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/aromaticas/salvia.png" />
        <h3>Salvia</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Cannabis Índica")
{
    <div class="page-background-class">

        <div class="divtitulo" style="margin-bottom: 10vh;">
            <img class="imagentipo imagen" src="/images/cannabis/indica.png" />
            <h3>Cannabis Índica</h3>
        </div>

        <div class="usuariocard" style="margin-top: 5vh;">
            <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
            <br>
            <div class="center">
                <img src="/images/Especiales.png" style="width: 100px; height: 100px">
            </div>
        </div>

    </div>
}

@if (Type == "Cannabis Rudelaris")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/cannabis/rudelaris.png" />
        <h3>Cannabis Rudelaris</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Cannabis Sativa")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/cannabis/sativa.png" />
        <h3>Cannabis Sativa</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Cilantro")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/condimentos/cilantro.png" />
        <h3>Cilantro</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Orégano")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/condimentos/oregano.png" />
        <h3>Orégano</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Perejil")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/condimentos/perejil.png" />
        <h3>Perejil</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Ají")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/especiales/aji.png" />
        <h3>Ají</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Rabanito")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/especiales/rabanito.png" />
        <h3>Rabanito</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Tomate Cherry")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/especiales/tomatecherry.png" />
        <h3>Tomate Cherry</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Manzanilla")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/medicinales/manzanilla.png" />
        <h3>Manzanilla</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Melissa")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/medicinales/melissa.jpg" />
        <h3>Melissa</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}

@if (Type == "Tomillo")
{
<div class="page-background-class">

    <div class="divtitulo" style="margin-bottom: 10vh;">
        <img class="imagentipo imagen" src="/images/medicinales/tomillo.jpg" />
        <h3>Tomillo</h3>
    </div>

    <div class="usuariocard" style="margin-top: 5vh;">
        <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <br>
        <div class="center">
            <img src="/images/Especiales.png" style="width: 100px; height: 100px">
        </div>
    </div>

</div>
}



@code {

    [Parameter]
    public string Type { get; set; }

}
