@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación recuperaciónh";
}

<h1>@ViewData["Title"]</h1>
<p>
    Se ha recuperado su contraseña, Por favor <a asp-page="./Login">inicie sesión</a>.
</p>
