@page "/cuenta"
@inject IPlantService PlantService

<link href="/css/plantas.css" rel="stylesheet" />
<link href="/css/perfil.css" rel="stylesheet" />
<meta charset="utf-8">

@if(user == null)
            {
                <p> Loading... </p>
            }
else
            {
                <div class="page-background-class">
                <h3>Cuenta</h3>
                <div class="content_general">
                    <div class="content_principal">
                        <div class="content_1">

                            <div class="content_img">
                                <img src=@user.Img class="image_Usuario" alt="Imagen Usuario">
                            </div>

                            <div class="content_datos">
                                <span class="usuario_Nombre">@user.UserName</span> <br><br />

                                <a href="/cuenta/edit/@user.Email?Img=@user.Img" class="btn btn-success">Editar</a>
                                <a href="/cuenta/delete" class="btn btn-outline-danger" style="text-align: center;"> Eliminar </a>
                            </div>

                        </div>

                        <div class="content_2">
                            <div class="content_items">

                                <div class="item_1">
                                    <div class="img_item">
                                        <img src="/images/Perfil/planta.png" alt="Image_1" class="imageitem">
                                    </div>

                                    <div class="content_info">

                                        <label>Plantas</label>
                                        <input type="button" name="itemplantas" value="@user.Plants">
                                    </div>
                                </div>

                                <div class="item_2">
                                    <div class="img_item">
                                        <img src="/images/Perfil/copa.png" alt="Image_2" class="imageitem">
                                    </div>


                                    <div class="content_info">
                                        <label>Logros</label>
                                        <input type="button" name="itemlogro" value="@user.Points XP">
                                    </div>
                                </div>

                            </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
            }


@code {
    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }

    public AuthenticationState authState { get; set; }

    User user = new User();

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;

        user = await PlantService.GetUser(authState.User.Identity.Name);

    }

    }


