@page "/cuenta"

<link href="/css/plantas.css" rel="stylesheet" />
<link href="/css/perfil.css" rel="stylesheet" />
<meta charset="utf-8">
<div class="page-background-class">
    <h3>Cuenta</h3>
    <div class="content_general">
        <div class="content_principal">
            <div class="content_1">
                <div class="content_img">
                    <img src="/images/Perfil/ImageUsuario.png" class="image_Usuario" alt="Imagen Usuario">
                </div>

                <div class="content_datos">
                    <span class="usuario_Nombre">David Herrera</span> <br>
                    <a href="/Editar/nombre">Editar Nombre</a><br>
                </div>

            </div>

            <div class="content_2">
                <div class="content_items">

                    <div class="item_1">
                        <div class="img_item">
                            <img src="/images/Perfil/planta.png" alt="Image_1" class="imageitem">
                        </div>

                        <div class="content_info">

                            <label>Plantas</label>
                            <input type="button" name="itemplantas" value="2">
                        </div>
                    </div>

                    <div class="item_2">
                        <div class="img_item">
                            <img src="/images/Perfil/copa.png" alt="Image_2" class="imageitem">
                        </div>


                        <div class="content_info">
                            <label>Logros</label>
                            <input type="button" name="itemlogro" value="600 XP">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
